<section>
  <div class="field-container">
    <mat-form-field class="field">
      <mat-label>Customized Virtual Example 5/24</mat-label>
      <ngx-virtual-select-field
        tabIndex="-1"
        panelWidth="300px"
        panelViewportPageSize="5"
        placeholder="virtual select"
        optionHeight="24"
      >
        <ngx-virtual-select-field-option
          *ngxVirtualSelectFieldOptionFor="let option of options"
          [value]="option.value"
          [disabled]="option.disabled"
        >
          {{ option.label }}</ngx-virtual-select-field-option
        >
      </ngx-virtual-select-field>
    </mat-form-field>
  </div>

  <div class="field-container">
    <mat-form-field class="field">
      <mat-label>Customized Virtual Example 6/36</mat-label>
      <ngx-virtual-select-field placeholder="virtual select">
        <ngx-virtual-select-field-option
          *ngxVirtualSelectFieldOptionFor="let option of options"
          [value]="option.value"
          [disabled]="option.disabled"
        >
          {{ option.label }}</ngx-virtual-select-field-option
        >
      </ngx-virtual-select-field>
    </mat-form-field>
  </div>
</section>
