<div class="field-container">
  <mat-form-field class="field">
    <ngx-virtual-select-field
      placeholder="Virtual Example"
      (valueChange)="singleValue = $event"
    >
      <ngx-virtual-select-field-option
        *ngxVirtualSelectFieldOptionFor="let option of options"
        [value]="option.value"
        [disabled]="option.disabled"
      >
        {{ option.label }}</ngx-virtual-select-field-option
      >
    </ngx-virtual-select-field>
  </mat-form-field>
  {{ singleValue }}
</div>

<div class="field-container">
  <mat-form-field class="field">
    <mat-label>Virtual Example</mat-label>
    <ngx-virtual-select-field
      [value]="singleValueWithSelected"
      (valueChange)="singleValueWithSelected = $event"
    >
      <ngx-virtual-select-field-option
        *ngxVirtualSelectFieldOptionFor="let option of options"
        [value]="option.value"
        [disabled]="option.disabled"
      >
        {{ option.label }}</ngx-virtual-select-field-option
      >
    </ngx-virtual-select-field>
  </mat-form-field>
  {{ singleValueWithSelected }}
</div>

<div class="field-container">
  <mat-form-field class="field">
    <mat-label>Multiselect Custom Trigger Example</mat-label>
    <ngx-virtual-select-field multiple [(value)]="multiselectValueWithDefault">
      <ngx-virtual-select-field-trigger>
        {{ multiselectValueWithDefault.length }} selected
      </ngx-virtual-select-field-trigger>

      <ngx-virtual-select-field-option
        *ngxVirtualSelectFieldOptionFor="let option of options"
        [value]="option.value"
        [disabled]="option.disabled"
      >
        {{ option.label }}</ngx-virtual-select-field-option
      >
    </ngx-virtual-select-field>
  </mat-form-field>
  {{ multiselectValueWithDefault }}
</div>

<div class="field-container">
  <mat-form-field class="field">
    <mat-label>Multiselect Virtual Example</mat-label>
    <ngx-virtual-select-field
      multiple
      [value]="multiselectValue"
      (valueChange)="multiselectValue = $event"
    >
      <ngx-virtual-select-field-option
        *ngxVirtualSelectFieldOptionFor="let option of options"
        [value]="option.value"
        [disabled]="option.disabled"
      >
        {{ option.label }}</ngx-virtual-select-field-option
      >
    </ngx-virtual-select-field>
  </mat-form-field>
  {{ multiselectValue | json }}
</div>

<div class="field-container">
  <mat-form-field class="field">
    <mat-label>disabled Virtual Example</mat-label>
    <ngx-virtual-select-field multiple disabled [value]="[2]">
      <ngx-virtual-select-field-option
        *ngxVirtualSelectFieldOptionFor="let option of options"
        [value]="option.value"
        [disabled]="option.disabled"
      >
        {{ option.label }}</ngx-virtual-select-field-option
      >
    </ngx-virtual-select-field>
  </mat-form-field>
</div>

<div class="field-container">
  <mat-form-field class="field">
    <mat-label>5 items Virtual Example</mat-label>
    <ngx-virtual-select-field multiple>
      <ngx-virtual-select-field-option
        *ngxVirtualSelectFieldOptionFor="let option of options.slice(0,5)"
        [value]="option.value"
        [disabled]="option.disabled"
      >
        {{ option.label }}</ngx-virtual-select-field-option
      >
    </ngx-virtual-select-field>
  </mat-form-field>
</div>

<h3 class="mat-headline-5">Form</h3>

<form [formGroup]="form" class="form-container">
  <mat-form-field class="field">
    <mat-label>Virtual Example</mat-label>
    <ngx-virtual-select-field formControlName="multiselect" multiple>
      <ngx-virtual-select-field-option
        *ngxVirtualSelectFieldOptionFor="let option of options"
        [value]="option.value"
        [disabled]="option.disabled"
      >
        {{ option.label }}</ngx-virtual-select-field-option
      >
    </ngx-virtual-select-field>
  </mat-form-field>

  <mat-form-field class="field">
    <mat-label>Virtual Example</mat-label>
    <ngx-virtual-select-field formControlName="singleselect">
      <ngx-virtual-select-field-option
        *ngxVirtualSelectFieldOptionFor="let option of options"
        [value]="option.value"
        [disabled]="option.disabled"
      >
        {{ option.label }}</ngx-virtual-select-field-option
      >
    </ngx-virtual-select-field>
  </mat-form-field>
</form>

<div class="field-container">
  <mat-form-field class="field">
    <mat-label>Nulled Example</mat-label>
    <ngx-virtual-select-field (valueChange)="singleValue = $event">
      <ngx-virtual-select-field-option
        *ngxVirtualSelectFieldOptionFor="let option of optionsWithNull"
        [value]="option.value"
        [disabled]="option.disabled"
      >
        {{ option.label }}</ngx-virtual-select-field-option
      >
    </ngx-virtual-select-field>
  </mat-form-field>
  {{ singleValue }}
</div>


<h3 class="mat-headline-5">Customized virtual Select</h3>
<section>
  <app-customized-virtual-select></app-customized-virtual-select>
</section>

<h3 class="mat-headline-5">Mat Select</h3>
<div class="field-container">
  <mat-form-field class="field">
    <mat-label>Mat Single Select Example</mat-label>
    <mat-select [(value)]="materialSingleSelect">
      @for (item of options.slice(0,100); track $index) {
      <mat-option [value]="item.value">{{ item.label }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  {{ materialSingleSelect }}
</div>

<div class="field-container">
  <mat-form-field class="field">
    <mat-label>Mat Multiple Select Example</mat-label>
    <mat-select [(value)]="materialMultiSingleSelect" multiple>
      @for (item of options.slice(0,100); track $index) {
      <mat-option [value]="item.value">{{ item.label }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  {{ materialMultiSingleSelect | json }}
</div>

<div class="field-container">
  <mat-form-field class="field">
    <mat-label>Disabled Mat Multiple Select Example</mat-label>
    <mat-select disabled [value]="[2]" multiple>
      @for (item of options.slice(0,100); track $index) {
      <mat-option [value]="item.value">{{ item.label }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>

<form [formGroup]="matForm" class="form-container">
  <mat-form-field class="field">

    <mat-select placeholder="place test" formControlName="multiselect" multiple>
      <mat-option disabled [value]="-1">disabled</mat-option>
      @for (item of options.slice(0,100); track $index) {
      <mat-option [value]="item.value">{{ item.label }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</form>
