/* You can add global styles to this file, and also import other style files */
@use 'sass:math';
@use '@angular/material' as mat;

@use '../../../packages/ngx-virtual-select-field/theme' as theme;

@include mat.core();

$dev-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$violet-palette,
    ),
    density: (
      scale: 0,
    ),
  )
);

html {
  @include mat.core-theme($dev-theme);

  @include mat.all-component-themes($dev-theme);
}

body {
  background: rgb(32, 32, 32);
  color: white;
  font-family: Roboto, sans-serif;
}

@include theme.inherit-material-theme();

.dev-app-ngx-virtual-select--customized-size__5_24 {
  --ngx-virtual-select-field-option-line-height: 24px;
  --ngx-virtual-select-field-panel-option-height: 24px;
  --ngx-virtual-select-field-option-item-height: 24px;
}

.dev-app-ngx-virtual-select--customized-size__6_36 {
  --ngx-virtual-select-field-option-line-height: 36px;
  --ngx-virtual-select-field-panel-option-height: 36px;
  --ngx-virtual-select-field-option-item-height: 36px;
}
