<mat-form-field class="field">
  <mat-label>Virtual Example</mat-label>
  <lib-virtual-select-field placeholder="virtual select">
    <lib-virtual-select-field-option
      *libVirtualSelectFieldOptionFor="let option of options"
      [value]="option.value"
      [disabled]="option.disabled"
    >
      {{ option.label }}</lib-virtual-select-field-option
    >
  </lib-virtual-select-field>
</mat-form-field>

<mat-form-field class="field">
  <mat-label>Virtual Example</mat-label>
  <lib-virtual-select-field placeholder="virtual select" [value]="[2]">
    <lib-virtual-select-field-option
      *libVirtualSelectFieldOptionFor="let option of options"
      [value]="option.value"
      [disabled]="option.disabled"
    >
      {{ option.label }}</lib-virtual-select-field-option
    >
  </lib-virtual-select-field>
</mat-form-field>

<mat-form-field class="field">
  <mat-label>Multiselect Virtual Example</mat-label>
  <lib-virtual-select-field
    placeholder="virtual select"
    multiple
    [(value)]="multiselectValue"
  >
    <lib-virtual-select-field-trigger>
      {{ multiselectValue.length }} selected
    </lib-virtual-select-field-trigger>

    <lib-virtual-select-field-option
      *libVirtualSelectFieldOptionFor="let option of options"
      [value]="option.value"
      [disabled]="option.disabled"
    >
      {{ option.label }}</lib-virtual-select-field-option
    >
  </lib-virtual-select-field>
</mat-form-field>

<router-outlet></router-outlet>
