<div class="field-container">
  <mat-form-field class="field">
    <mat-label>Virtual Example</mat-label>
    <ngx-virtual-select-field
      placeholder="virtual select"
      (valueChange)="singleValue = $event"
    >
      <ngx-virtual-select-field-option
        *ngxVirtualSelectFieldOptionFor="let option of options"
        [value]="option.value"
        [disabled]="option.disabled"
      >
        {{ option.label }}</ngx-virtual-select-field-option
      >
    </ngx-virtual-select-field>
  </mat-form-field>
  {{ singleValue }}
</div>

<div class="field-container">
  <mat-form-field class="field">
    <mat-label>Virtual Example</mat-label>
    <ngx-virtual-select-field
      placeholder="virtual select"
      [value]="singleValueWithSelected"
      (valueChange)="singleValueWithSelected = $event"
    >
      <ngx-virtual-select-field-option
        *ngxVirtualSelectFieldOptionFor="let option of options"
        [value]="option.value"
        [disabled]="option.disabled"
      >
        {{ option.label }}</ngx-virtual-select-field-option
      >
    </ngx-virtual-select-field>
  </mat-form-field>
  {{ singleValueWithSelected }}
</div>

<div class="field-container">
  <mat-form-field class="field">
    <mat-label>Multiselect Custom Trigger Example</mat-label>
    <ngx-virtual-select-field
      placeholder="virtual select"
      multiple
      [(value)]="multiselectValueWithDefault"
    >
      <ngx-virtual-select-field-trigger>
        {{ multiselectValueWithDefault.length }} selected
      </ngx-virtual-select-field-trigger>

      <ngx-virtual-select-field-option
        *ngxVirtualSelectFieldOptionFor="let option of options"
        [value]="option.value"
        [disabled]="option.disabled"
      >
        {{ option.label }}</ngx-virtual-select-field-option
      >
    </ngx-virtual-select-field>
  </mat-form-field>
  {{ multiselectValueWithDefault }}
</div>

<div class="field-container">
  <mat-form-field class="field">
    <mat-label>Multiselect Virtual Example</mat-label>
    <ngx-virtual-select-field
      placeholder="virtual select"
      multiple
      [value]="multiselectValue"
      (valueChange)="multiselectValue = $event"
    >
      <ngx-virtual-select-field-option
        *ngxVirtualSelectFieldOptionFor="let option of options"
        [value]="option.value"
        [disabled]="option.disabled"
      >
        {{ option.label }}</ngx-virtual-select-field-option
      >
    </ngx-virtual-select-field>
  </mat-form-field>
  {{ multiselectValue | json }}
</div>

<div class="field-container">
  <mat-form-field class="field">
    <mat-label>disabled Virtual Example</mat-label>
    <ngx-virtual-select-field
      placeholder="virtual select"
      multiple
      disabled
      [value]="[2]"
    >
      <ngx-virtual-select-field-option
        *ngxVirtualSelectFieldOptionFor="let option of options"
        [value]="option.value"
        [disabled]="option.disabled"
      >
        {{ option.label }}</ngx-virtual-select-field-option
      >
    </ngx-virtual-select-field>
  </mat-form-field>
</div>

<h3 class="mat-headline-5">Form</h3>

<form [formGroup]="form" class="form-container">
  <mat-form-field class="field">
    <mat-label>Virtual Example</mat-label>
    <ngx-virtual-select-field
      placeholder="virtual select"
      formControlName="multiselect"
      multiple
    >
      <ngx-virtual-select-field-option
        *ngxVirtualSelectFieldOptionFor="let option of options"
        [value]="option.value"
        [disabled]="option.disabled"
      >
        {{ option.label }}</ngx-virtual-select-field-option
      >
    </ngx-virtual-select-field>
  </mat-form-field>

  <mat-form-field class="field">
    <mat-label>Virtual Example</mat-label>
    <ngx-virtual-select-field
      placeholder="virtual select"
      formControlName="singleselect"
    >
      <ngx-virtual-select-field-option
        *ngxVirtualSelectFieldOptionFor="let option of options"
        [value]="option.value"
        [disabled]="option.disabled"
      >
        {{ option.label }}</ngx-virtual-select-field-option
      >
    </ngx-virtual-select-field>
  </mat-form-field>
</form>

<div class="field-container">
  <mat-form-field class="field">
    <mat-label>Nulled Example</mat-label>
    <ngx-virtual-select-field
      placeholder="virtual select"
      (valueChange)="singleValue = $event"
    >
      <ngx-virtual-select-field-option
        *ngxVirtualSelectFieldOptionFor="let option of optionsWithNull"
        [value]="option.value"
        [disabled]="option.disabled"
      >
        {{ option.label }}</ngx-virtual-select-field-option
      >
    </ngx-virtual-select-field>
  </mat-form-field>
  {{ singleValue }}
</div>

<h3 class="mat-headline-5">Mat Select</h3>
<div class="field-container">
  <mat-form-field class="field">
    <mat-label>Mat Single Select Example</mat-label>
    <mat-select [(value)]="materialSingleSelect">
      @for (item of options.slice(0,100); track $index) {
      <mat-option [value]="item.value">{{ item.label }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  {{ materialSingleSelect }}
</div>

<div class="field-container">
  <mat-form-field class="field">
    <mat-label>Mat Multiple Select Example</mat-label>
    <mat-select [(value)]="materialMultiSingleSelect" multiple>
      @for (item of options.slice(0,100); track $index) {
      <mat-option [value]="item.value">{{ item.label }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  {{ materialMultiSingleSelect | json }}
</div>

<div class="field-container">
  <mat-form-field class="field">
    <mat-label>Disabled Mat Multiple Select Example</mat-label>
    <mat-select disabled [value]="[2]" multiple>
      @for (item of options.slice(0,100); track $index) {
      <mat-option [value]="item.value">{{ item.label }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>

<form [formGroup]="matForm" class="form-container">
  <mat-form-field class="field">
    <mat-label>Mat Form Virtual Example</mat-label>
    <mat-select
      placeholder="virtual select"
      formControlName="multiselect"
      multiple
    >
    <mat-option disabled [value]="-1">disabled</mat-option>
      @for (item of options.slice(0,100); track $index) {
      <mat-option [value]="item.value">{{ item.label }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</form>
