/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$my-theme: mat.define-dark-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.all-component-themes($my-theme);


// Use the default configuration.
$my-typography: mat.define-typography-config();

@include mat.typography-hierarchy($my-typography);

body {
  background: rgb(32, 32, 32);
  color: white;
  font-family: Roboto, sans-serif;
}
